<div class="dropdown">
    <button class="dropbtn" onclick="toggleDropdown('dropdown1')">PC</button>
    <div class="dropdown-content">
        <a href="../View/CatalogPC.php">Games</a><br>
        <a href="../View/CatalogPC.php">Accessories</a><br>
        <a href="../View/CatalogPC.php">Downloadable Content</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn" onclick="toggleDropdown('dropdown2')">XBOX</button>
    <div class="dropdown-content">
        <a href="../View/CatalogXbox.php">Games</a><br>
        <a href="../View/CatalogXbox.php">XBOX Live Gold</a><br>
        <a href="../View/CatalogXbox.php">XBOX Game Pass</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn" onclick="toggleDropdown('dropdown3')">NINTENDO</button>
    <div class="dropdown-content">
        <a href="../View/CatalogNintendo.php">Games</a><br>
        <a href="../View/CatalogNintendo.php">Nintendo Membership</a><br>
        <a href="../View/CatalogNintendo.php">Nintendo eShop Cards</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn" onclick="toggleDropdown('dropdown4')">PLAYSTATION</button>
    <div class="dropdown-content">
        <a href="../View/CatalogPlayStation.php">Games</a><br>
        <a href="../View/CatalogPlayStation.php">Playstation Plus</a><br>
        <a href="../View/CatalogPlayStation.php">Playstation Store</a>
    </div>
</div>
<div class="dropdown">
    <button class="dropbtn" onclick="toggleDropdown('dropdown5')">CONTACT</button>
    <div class="dropdown-content">
        <a href="../View/faq.php">FAQs</a>
        <a href="../View/Support.php">Support</a>
    </div>
</div>